*{
    margin: 0;
    padding: 0;
}
table, tr, td{
    border: 3px solid #fff;
    padding: 10px;
    text-align: center;
    margin: 20px;
    background-color: #000;
    border-radius: 10px;
}
.enunciados{
    background-color: #000;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #fff;
}
.operaciones{
    background-color: #000;
    color: #fff;
    font-size: 20px;
}
.number{
    background-color: #000;
    font-size: 19px;
    color: #fff;
}
.resultado{
    background-color: #000;
    font-size: 22px;
    color: #fff;
}
.botones{
    background-color: #a6f5f5;
    color: #000;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    width: 135px;
    height: 35px;
}
.ingreso{
    width: 200px;
    height: 20px;
    padding: 5px;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid #000;
    text-align: center;
    align-content: center;
}